= javascript_include_tag 'http://drawthedots.com/abcplugin/abcplugin-min.js'
:javascript
  abc_plugin["show_midi"] = false;
  abc_plugin["hide_abc"] = true;
- if @platform.nil?
  - title "Music Notation Thought"

.white-bg= @music_notation_thought.body

- if @platform.nil?
  %p
    = link_to "Edit", edit_music_notation_thought_path(@music_notation_thought)
    |
    = link_to "Destroy", @music_notation_thought, :confirm => 'Are you sure?', :method => :delete
    |
    = link_to "View All", music_notation_thoughts_path
